/* Adjusted styles for the buttons and inputs */
.my-plus-button{
  background-color: white;
  color: black;
  box-shadow: none;
  cursor: pointer;
}
.my-minus-button {
  background-color: white;
  color: black;
  box-shadow: none;
  cursor: pointer;
}

.my-plus-button-big{
  background-color: white;
  box-shadow: none;
  border: solid black;
  cursor: pointer;
  margin: 1em;
  color: black;
}

.my-plus-button-big:hover{
  background-color: black;
  box-shadow: none;
  outline: black;
  cursor: pointer;
  margin: 1em;
  color: white;
}

.my-save-button-big{
  background-color: black;
  box-shadow: none;
  outline: black;
  cursor: pointer;
  color: white;
}

.my-save-button-big:hover{
  background-color: white;
  box-shadow: none;
  border: solid black;
  cursor: pointer;
  margin: 1em;
  color: black;
}
.my-close-button-big{
  background-color: red;
  width: 10em;
  align-items: right;
  border: solid black;
  box-shadow: none;
  outline: black;
  cursor: pointer;
  margin: 1em;
  color: rgb(255, 255, 255);
}

.my-close-button-big:hover{
  background-color: rgb(247, 247, 247);
  box-shadow: none;
  border: solid black;
  cursor: pointer;
  margin: 1em;
  color: rgb(0, 0, 0);
}


.my-plus-button:hover {
  color: black;
  background-color: white;
}

.my-minus-button:hover {
  color: red;
  background-color: white;
}

.rubric-card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  
}

.rubric-header {
  display: flex;
  align-items: center; /* Vertically centers the flex children (buttons) */
  justify-content: center; /* Horizontally centers the flex children (buttons and input) */
  margin-bottom: 10px;
  
}
.plus-button{
  background-color: white;
  color: black;
  border: none;
  box-shadow: none;
  cursor: pointer;
  padding-top: 1.2em;
  background-color: white;

}

.minus-button {
  background-color: white;
  color: black;
  border: none;
  box-shadow: none;
  cursor: pointer;
  background-color: white;
}

.plus-button:hover {

  color: lightgreen;
  background-color: white;
}

.minus-button:hover {
  color: red;
  background-color: white;
}

.topic-input {
  border: white;
  outline: none;
  border-radius: 5px;
  box-shadow: none;
  padding: 1em;
  margin: 0.5em;
  flex-grow: 1; /* Makes input take up the remaining space */
}
.topic-input:focus {
  outline: none;
  border-bottom: 2px solid #0056b3;
  
}
.point-input {
  box-shadow: none;
  border: none;
  outline: none;
  padding: 1em;
  background-color: transparent;
  width: 4em;
  margin: 0.1em;
  /* Add a small padding-bottom to reduce the gap if needed */
}

.point-input:focus {
  border: none;
  border-bottom: 2px solid #0056b3;
}
.rubric-input {
  box-shadow: none;
  border: none;
  outline: none;
  padding: 5px 10px;
  background-color: transparent;
  width: 4em;
  margin: 0.1em;
  /* Add a small padding-bottom to reduce the gap if needed */
  padding-bottom: 2px;
}

.rubric-input:focus {
  border: none;
  border-bottom: 2px solid #0056b3;
}
.input-wrapper {
  border: none;
  outline: none;
  display: inline-block;
  margin: 0.5em;
  position: relative;
}

.input-wrapper::after {
  border: none;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0; /* Initially set to 0 */
  height: 2px;
  transition: width 0.3s;
}

.input-wrapper:focus-within::after {
  border: none;
  width: 100%; /* Expand underline to full width on focus */
}
.feedback-container {
  margin-top: 20px;
}

.feedback-box {
  border: 1px solid #ddd;
  padding: 10px;
  width: 100%;
  max-height: 200px; /* Adjust based on your preference */
  overflow-y: auto; /* Makes the box scrollable */
  background-color: #f9f9f9; /* Light background for the feedback */
  border-radius: 5px;
}

.dropzone {
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
  transition: border 0.3s ease-in-out;
}

.dropzone:hover {
  border-color: #888;
}

.file-list {
  list-style: none;
  padding: 0;
}

.file-list li {
  margin-bottom: 5px;
}

.delete-button {
  background-color: white;
  color: grey;
  border: none;
}

.delete-button:hover {
  color: red;
  background-color: white;

}

.delete-btn {
  margin-left: 1em;
  background-color: white;
  color: grey;
  border: none;
}

.delete-btn:hover {
  color: red;
  background-color: white;

}
