/* Adjusted styles for the buttons and inputs */
.my-plus-button, .my-minus-button {
  background-color: white;
  color: black;
  box-shadow: none;
  cursor: pointer;
}

.my-plus-button-big{
  background-color: white;
  box-shadow: none;
  border: solid black;
  cursor: pointer;
  margin: 1em;
  color: black;
}

.my-plus-button-big:hover{
  background-color: black;
  box-shadow: none;
  outline: black;
  cursor: pointer;
  margin: 1em;
  color: white;
}

.my-save-button-big{
  background-color: black;
  box-shadow: none;
  outline: black;
  cursor: pointer;
  margin: 1em;
  color: white;
}

.my-save-button-big:hover{
  background-color: white;
  box-shadow: none;
  border: solid black;
  cursor: pointer;
  margin: 1em;
  color: black;
}



.my-plus-button:hover {
  color: black;
  background-color: white;
}

.my-minus-button:hover {
  color: red;
  background-color: white;
}

.rubric-card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  
}

.rubric-header {
  display: flex;
  align-items: center; /* Vertically centers the flex children (buttons) */
  justify-content: center; /* Horizontally centers the flex children (buttons and input) */
  margin-bottom: 10px;
  
}
.plus-button{
  background-color: white;
  color: black;
  border: none;
  box-shadow: none;
  cursor: pointer;

  background-color: white;

}

.minus-button {
  background-color: white;
  color: black;
  border: none;
  box-shadow: none;
  cursor: pointer;
  background-color: white;
}

.plus-button:hover {
  color: lightgreen;
  background-color: white;
}

.minus-button:hover {
  color: red;
  background-color: white;
}

.topic-input {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  flex-grow: 1; /* Makes input take up the remaining space */
}
