.my-minus-button-small {
    background-color: white;
    color: grey;
    margin-left: 20px;
    border: transparent; /*Optional, for better visibility */
    box-shadow: none; /* No shadow */
    /* Other styles... */
  }
  
  .my-minus-button-small:hover {
    background-color: white;
    color: red;
    box-shadow: none; /* No shadow */
  }

  .my-plus-button-small {
    background-color: white;
    color: grey;
    margin-top: 10px;
    margin-left: 20px;
    border: transparent; /*Optional, for better visibility */
    box-shadow: none; /* No shadow */
    /* Other styles... */
  }
  
  .my-plus-button-small:hover {
    background-color: white;
    color: rgb(0, 0, 0);
    box-shadow: none; /* No shadow */
  }

  .my-plus-button-big {
    background-color: white;
    color: grey;
    margin-top: 10px;
    margin-left: 5em;
    border: transparent; /*Optional, for better visibility */
    box-shadow: none; /* No shadow */
    font-size: 30px;
    /* Other styles... */
  }
  
  .my-plus-button-big:hover {
    background-color: white;
    color: rgb(0, 0, 0);
    box-shadow: none; /* No shadow */
    font-size: 30px;
  }

  .my-save-button-big {
    background-color: white;
    color: grey;
    margin-top: 10px;
    margin-left: 8.5em;
    border: transparent; /*Optional, for better visibility */
    box-shadow: none; /* No shadow */
    font-size: 30px;
    /* Other styles... */
  }
  
  .my-save-button-big:hover {
    background-color: white;
    color: rgb(0, 0, 0);
    box-shadow: none; /* No shadow */
    font-size: 30px;
  }

  .my-minus-button-big {
    background-color: white;
    color: grey;
    margin-left: 20px;
    border: transparent; /*Optional, for better visibility */
    box-shadow: none; /* No shadow */
    font-size: 30px;
    /* Other styles... */
  }
  
  .my-minus-button-big:hover {
    background-color: white;
    color: red;
    box-shadow: none; /* No shadow */
    font-size: 30px;
  }
  
  .my-field {
    margin-bottom: 10px; /* Adjust as needed */
  }

  .flex-grow {
    flex-grow: 1;
  }
  
  /* To align the button in the middle vertically */
  .flex.items-center {
    align-items: center;
  }
  
  /* To space out the elements and align the button to the right */
  .flex.justify-between {
    justify-content: space-between;
  }
  
  /* To align the big button to the right */
  .flex.justify-end {
    justify-content: flex-end;
  }